*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $primary-font;
  font-size: $main-font-size;
  line-height: auto;
  color: $primary-text-color;
  background-color: $primary-bg-color;
}
