$primary-font: "Inter", "Arial", sans-serif;
$main-font-size: 16px;

$primary-bg-color: #15101c;
$secondary-bg-color: #1d1825;

$primary-text-color: #ffffff;
$accent-color: #9e78cf;
$active-color: #3e1671;
$placeholder-color: #777777;
$done-color: #78cfb0;
