.button-icon {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 22px 22px;
  background-color: $accent-color;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &--check {
    appearance: none;
    mask-image: url("../../images/icons/stack.svg#check-icon");

    &:checked,
    &:disabled {
      background-color: $active-color;
    }
  }

  &--bin {
    mask-image: url("../../images/icons/stack.svg#bin-icon");

    &:active,
    &:disabled {
      background-color: $active-color;
    }
  }

  &--clear {
    background-color: $done-color;
  }
}
