.list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 348px;
  overflow-x: hidden;
  overflow-y: auto;

  li {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
