.task-card {
  display: flex;
  padding: 22px 20px 23px 21px;
  background-color: $primary-bg-color;
  border-radius: 10px;

  &--todo {
    .task-card__label {
      display: flex;
      width: 352px;
    }

    .task-card__text {
      width: 315px;
      margin-right: auto;
      font-size: 16px;
      color: $accent-color;
      background: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    .task-card__delete {
      margin-left: auto;
    }
  }

  &--done {
    color: $done-color;
  }
}
